/* IMPORT FONT */
@font-face /*perintah untuk memanggil font eksternal*/
{
	font-family: 'Lobster'; /*memberikan nama bebas untuk font*/
	src: url('../Font/Lobster/Lobster-Regular.ttf');/*memanggil file font eksternalnya di folder nexa*/
}

:root{
  --accent: #ffd079;
  --bg: #ffffff;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
	background-image: url('../img/Untitled\ design.png');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

a {
	color: inherit;
	text-decoration: none;
}

li a{
    font-family: sans-serif;
}

/*NavBar*/
Nav{
    display: flex;
    background-color: #FCA503;
    justify-content: space-around;
    /* padding: 20px 0; */
    height: 55px;
    align-items: center;
    color: #ffffff;
}

Nav .logo{
    font-family: 'Lobster';
}

Nav ul{
    display: flex;
    list-style: none;
    width: 40%;
    justify-content: space-between;
	  cursor: pointer;
}


Nav ul li a{
    text-decoration: none;
    display: block;
}

Nav ul li a:hover{
    color: #000000;
}
.active{
    color: #000000;
}
/*hamburger menu*/
.menu-toogle{
    display: none;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    position: relative;
}

.menu-toogle input{
    position: absolute;
    width: 40px;
    height: 28px;
    left: -6px;
    top: -4px;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
}

.menu-toogle span{
    width: 28px;
    height: 3px;
    background-color: rgb(255, 255, 255);
    border-radius: 3px;
    transition: all 0.5s;
}

/*hamburger animation*/
.menu-toogle span:nth-child(2){
    transform-origin: 0 0;
}

.menu-toogle span:nth-child(4){
    transform-origin: 0 100%;
}

.menu-toogle input:checked ~ span:nth-child(2){
    transform: rotate(45deg) translate(-1px, -1px);
}

.menu-toogle input:checked ~ span:nth-child(4){
    transform: rotate(-45deg) translate(-1px, 0);
}

.menu-toogle input:checked ~ span:nth-child(3){
    opacity: 0;
    transform: scale(0);
}
/* responsive */
/*ukuran tablet*/
@media screen and (max-width: 768px){
    nav ul{
        width: 50%;
    }
}

/*ukuran mobile*/
@media screen and (max-width: 576px){
    .menu-toogle{ 
        display: flex;
        z-index: 2;
    }
    nav ul{
        position: fixed;
        right: 0;
        top: 0;
        width: 80%;
        height: 100vh;
        flex-direction: column;
        background-color: #FCA503;
        align-items: center;
        text-align: center;
        justify-content: space-evenly;
        transform: translateX(100%);
        transition: all 1s;
        opacity: 0;
        z-index: 2;
        }


    nav ul.slide{
            transform: translateX(0);
            opacity: 1;
        }
    
    
}

.card-holder{
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  flex-wrap: wrap;
  padding:2px;
  padding-bottom: 100px;
}

.card{
  width: 20rem;
  background-color: var(--accent);
  color: #fff;
  margin: 2rem auto;
  border-radius: 2em;
}

.card__name{
  font-size: 1.7em;
  font-family: 'Lobster';
}

.card__img{
  width: 100%;
  height: 12rem;
  object-fit: cover;
  border: 5px solid #ffd079;
}

.card-contents{
  padding: 1rem;
}

.card-contents h1{
  margin-bottom: 10px;
  letter-spacing: 1px;
  text-align: center;
  color: black;
}

.card-contents p{
  font-size: 0.8em;
  margin-bottom: 1rem;
  color: black;
  text-align: justify;
  font-family: sans-serif;
}


.card__read-more{
  display: block;
  opacity: 0;
  height: 0;
  transition: all 0.5s;
}

.card__read-more--open{
  display: block;
  opacity: 1;
  height: 5rem;
}

.read-more-btn{
  display: inline-block;
  color: var(--accent);
  background-color: #ff7b0f;
  padding: 0.6rem 1.5rem;
  font-size: 1em;
  position: relative;
  z-index: 1;
  transition: all 0.5s;
  cursor: pointer;
  border-radius: 2rem;
  /* position:static; */
}

.read-more-btn:hover{
  background-color: #fff;
  box-shadow: 0 0 2rem rgba(0,0,0,0.1);
  transform: translateY(-3px);
}

.price {
  text-align: center;
  margin-bottom: 25px;
  font-size: 27px;
  color: black;
  font-family: 'Lobster';
}

a {
	color: inherit;
	text-decoration: none;
}


section {
	padding:50px 0;
}

.popup-box{
	position: fixed;
	height: 100%;
	width:100%;
	left: 0;
	top: 0;
	background-color: rgba(0,0,0,.5);
	z-index: 500;
	visibility: hidden;
	opacity: 0;
	transition: all 0.5s ease-in-out;
	font-family: sans-serif;
}

.popup-box .popup-header .popup-close-icon:hover{
	background-color: #e96e26;
	transition: all 0.1s ease-in-out;
}

.popup-box.open{
	visibility: visible;
	opacity: 1;
}

.popup-box .popup-content{
	background-color: #FCA503;
	width: 600px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	border-radius: 8px;
}

.popup-box .popup-header{
	padding: 15px 40px 15px 15px;
	border-bottom: 1px solid rgba(64, 33, 7, 0.867);
	background-color: #bb5316;
}
.popup-box .popup-header h3{
	margin: 0;
	color: #fff;
	font-size: 20px;
}
.popup-box .popup-header .popup-close-icon{
	position: absolute;
	height: 30px;
	width: 30px;
	text-align: center;
	color: #fff;
	font-size: 28px;
	line-height: 30px;
	right: 3px;
	top: 3px;
	cursor: pointer;
}
.popup-box .popup-body{
	padding: 15px;
}
.popup-box .popup-body p{
	font-size: 16px;
	color: #fff;
	margin: 0 0 15px;
}

.popup-box .popup-body a{
	font-size: 16px;
	color: #6875e6;
	margin: 0 0 15px;
}

.popup-box .popup-body a:hover{
	color: #ffffff;
  transition: all 0.1s ease-in-out;
}

.popup-box .popup-footer{
	padding: 15px;
	border-top: 1px solid rgba(64, 33, 7, 0.867);
	text-align: right;
}

.popup-box .popup-footer .btn{
	padding: 10px 15px;
	border: 1px solid #333;
	border-radius: 10px;
	background-color: #bb5316;
	color: #fff;
	font-size: 16px;
}

.popup-box .popup-footer .btn:hover{
	background-color: #e96e26;
	transition: all 0.1s ease-in-out;
}

.popup-box .popup-footer .btn:focus{
	outline: none;
}

footer {
	padding:30px 0;
	background-color: #333;
	color: #fff;
	text-align: center;
}

.bagian {
  width:75%;
	margin:0 auto;
}

.label {
	background-color: #FCA503;
	color: #fff;
}

.label .bagian p {
	font-family: sans-serif;
	font-size: 17px;
	float: left;
} 

.label .bagian input {
	float: right;
} 

  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
  
  @media only screen and (max-width: 680px){
	  [class*="col-"] {
		  width: 100%;
		}
  
	  .popup-box .popup-content {
		  width: calc(100% - 30px);
	  }
  
  }
